<div class="search-results" infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()">
    <div [style]="'height:100vh;'">
        <div class="itemCarder ">
            <div class="itemCardImgFrame  " [style]="'height:60vh;'">
                <img class="itemImageFrameImage" [src]="'https://picsum.photos/500/500'">
            </div>
        </div>
        <h1 class=" itemCardPadding">
            <b>
                aa
            </b>
        </h1>
        <div class="itemCardBack itemCardMargin">
            <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptas odit nisi corporis veritatis.
                Debitis delectus deserunt laudantium quibusdam nesciunt totam vel laborum dolore ipsum eos,
                autem atque magnam beatae pariatur!</a>
        </div>
    </div>

    <div class="flexList">
        <!-- <br>
      <div class="itemCard s itemCar1dMargin" [style]="'height:70vh;margin:5%;margin-bottom: 10%;'">
        </div> -->
        <div class=" itemCard s itemCardMargin " *ngFor="let x of homeArray; let i = index"
            [style]="'min-width:50%;width:auto;min-height:var(--imgM)'">
            <div class="itemCardHeader itemCardPadding">
                <b>
                    {{i}}
                </b>
            </div>
            <div class="itemCardBody">
                <div class="itemCardImgFrame  " [style]="'height:60vh;'">
                    <img class="itemImageFrameImage" [src]="'https://picsum.photos/'+5+'00/'+(10-i%10)+'00'">
                </div>
            </div>
            <div class=" itemCardPadding flexBewteen">
                <div>

                </div>
                <div class="flexAround">
                    <button>like</button>
                    <button>Meow</button>
                </div>
            </div>
        </div>
    </div>
</div>