.na {
    position: sticky;
    top: 0;
    /* padding: 5px; */
    background-color: var(--seaSick);
    z-index: 1;
}

.appContainer {
    position: relative;
}

@media only screen and (min-width: 700px) {
    .a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .b {
        width: 700px;
    }
}

@media only screen and (min-width: 1500px) {}