<h1 class="itemCardMargin itemCardPadding ">Setting </h1>
<div class="itemCard itemCardMargin ">
    <div class="itemCardHeader itemCardPadding">
        <b class="">Who am I </b>
    </div>

    <div class=" itemCardBody itemCardMargin itemCardPadding">
        <div class="itemCardPadding" >
            <p><b class=" ">What do I do</b></p>
            <p class=" "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore praesentium a maiores ipsum doloribus atque molestiae perferendis error eius illo libero possimus dolores non saepe, ratione dicta alias aspernatur ullam!i </p>
        </div>
        <div class="itemCardBack" >
            <p><b class=" ">Why am I better</b></p>
            <p class="itemCardPadding "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore praesentium a maiores ipsum doloribus atque molestiae perferendis error eius illo libero possimus dolores non saepe, ratione dicta alias aspernatur ullam!i </p>
        </div>
        <div class="itemCardBack" >
            <b class=" "> Contact me </b>
            <p class="itemCardPadding "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore praesentium a maiores ipsum doloribus atque molestiae perferendis error eius illo libero possimus dolores non saepe, ratione dicta alias aspernatur ullam!i </p>
        </div>
    </div>
    <div class=" ">
        <div class=" itemCardPadding">
            <b class="">Meow</b>
        </div>
    </div>
</div>