<div class="itemCard">
    <div class="">
        <div class=" itemCardPadding">
            <b class="">Setting </b>
        </div>
        <div class="itemCardBack">
            <p class=" itemCardPadding">
                Contact me
            </p>
        </div>
    </div>

    <div class=" itemCardMargin">
        <div class="itemCardBody itemCardPadding">
            <b class=" itemCardPadding">
                What do I do
            </b>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="itemCardBack">
            <p class=" itemCardPadding">
                Contact me
            </p>
        </div>
    </div>



    <div class=" ">
        <div class="itemCardBody itemCardPadding">
            <div class=" itemCardPadding">
                What do I do
            </div>
        </div>
        <div class="itemCardHeader itemCardPadding">
            <b class="">Who am I</b>
        </div>
    </div>
</div>