<p>setting works!</p>

<div class="itemCard itemCardMargin">
    <div class="itemCardHeader itemCardPadding">
        <b class="" >Who am I</b>
    </div>
    <div class="itemCardBody itemCardPadding">
        <div class=" itemCardPadding">
            What do I do
        </div>
    </div>
    <div class="itemCardBack">
        <p  class=" itemCardPadding">
            Contact me
        </p>
    </div>
</div>

<div class="itemCard itemCardMargin">
    <div class="itemCardBody itemCardPadding">
        <div class=" itemCardPadding">
            What do I do
        </div>
    </div>
    <!-- <div class="itemCardBack">
        <p  class=" itemCardPadding">
            Contact me
        </p>
    </div> -->
    <div class="itemCardHeader itemCardPadding">
        <b class="" >Who am I</b>
        
    </div>
</div>

<div class="itemCard itemCardMargin">
    <div class="itemCardBody itemCardPadding">
        <b class=" itemCardPadding">
            What do I do
        </b>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="itemCardBack">
        <p  class=" itemCardPadding">
            Contact me
        </p>
    </div>
</div>