<!-- login view -->
<div class="itemCard itemCardMargin " *ngIf="this.authS.user$ |async as user">
    <div class="itemCardHeader">
        <br>
        <br>
    </div>
    <div class="itemCardSholder">
    </div>

    <div class="itemCardBody ">
        <div class="itemCardGrid3 center itemCardPadding">
            <div class="userImageFrame ">
                <img src={{user.photoURL}} class="userImage" alt="img">
            </div>
            <div class="">
                <h3> Good morning </h3>
                <b *ngIf="user.displayName != null">{{user.displayName}}</b>
                <b *ngIf="user.displayName == null">{{user.email}}</b>
            </div>
        </div>
        <div class="flexBetween itemCardPadding">
            <div></div>
        </div>
    </div>
    <div class=" flexBetween itemCardPadding">
        <div>
            <!-- <b *ngIf="user.displayName != null">{{user.displayName}}</b>
            <b *ngIf="user.displayName == null">{{user.email}}</b> -->
        </div>
        <div class="itemCardHeaderControlBar">
            <button (click)="this.authS.signout()" class=" itemImageButton flexAround">
                <span class="material-symbols-outlined ">LogOut</span>
                LogOut
            </button>
        </div>
    </div>
    <div class="">
        <div class="itemCardBack">
            <div class=" itemCardPadding">
                <b>Info</b>
            </div>
            <div class="itemCardBody itemCardPadding">
                <div class="flexBetween">
                    <div class="itemCardMargin">
                        <div class="itemCardGrid">
                            <b>Name</b>
                            <p>{{user.displayName}}</p>
                        </div>
                        <div class="itemCardGird">
                            <input type="text" [style]="'width:auto;'">
                            <button (click)="0" class=" itemImageButton flexAround">
                                <span class="material-symbols-outlined ">Save</span>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="itemCardBack">
            <div class=" itemCardPadding">
                <b>Message</b>
            </div>
        </div>
    </div>
</div>
<!-- log out mode -->
<div *ngIf="(this.authS.authState$ | async) === null">
    <div class="itemCard itemCardMargin">
        <b class="itemCardHeader itemCardPadding">
            Account
        </b>
        <div class="flexList itemCardPadding">
            <a class="title">Email:</a>
            <input type="text" placeholder="Login with email" class="form__input itemCardMargin" #loginEmail >
            <a class="title" >Password:</a>
            <input type="password" placeholder="Password" class="form__input itemCardMargin" #loginPassword>
            <button class="gsi-material-button flexCenter itemCardPadding itemCardMargin" (click)="emailSignin(loginEmail.value,loginPassword.value)">
                <span class="material-symbols-outlined gsi-material-button-icon">
                    email
                </span>
                <span class="gsi-material-button-contents">Login with email</span>
            </button>
        </div>
        <div class="itemCardBody itemCardGrid2 itemCardPadding ">
            <!-- <div class="itemCardGrid2 itemCardPadding">
                <a>Email:</a>
                <input type="text" #loginEmail>
                <a>Password:</a>
                <input type="password" #loginPassword>
            </div>
            <button class="gsi-material-button  flexCenter" (click)="emailSignin(loginEmail.value,loginPassword.value)">
                <span class="material-symbols-outlined gsi-material-button-icon">
                    email
                </span>
                <span class="gsi-material-button-contents">Sign in with email</span>
            </button> -->
            <br>
            <button class="gsi-material-button  flexCenter" (click)="this.authS.googleSignin()">
                <div class="gsi-material-button-content-wrapper">
                    <div class="gsi-material-button-icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
                            xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                            <path fill="#EA4335"
                                d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                            </path>
                            <path fill="#4285F4"
                                d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                            </path>
                            <path fill="#FBBC05"
                                d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                            </path>
                            <path fill="#34A853"
                                d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                            </path>
                            <path fill="none" d="M0 0h48v48H0z"></path>
                        </svg>
                    </div>
                    <a class="gsi-material-button-contents">Sign in with Google</a>
                </div>
            </button>
        </div>

        <!-- email resister -->
        <div class="itemCardBack ">
            <div class=" itemCardPadding">
                <b> Sign up with Email </b>
            </div>
            <div class="itemCardGrid2 itemCardPadding">
                <a>Email :</a>
                <input class="inputs" type="text" #registerEmail>
                <a>Password :</a>
                <input type="password" #registerPassword>
                <a>Re-enter Password :</a>
                <input type="password" #registerPassword2>
            </div>
            <div>
                
            </div>
            <div class="flexBetween itemCardPadding ">
                <div>
                    <h1 [style.color]="'red'">{{registerLog}}</h1>
                </div>
                <div class="">
                    <button class="gsi-material-button"
                        (click)="emailRegister(registerEmail.value,registerPassword.value,registerPassword2.value)">
                        <span class="gsi-material-button-icon material-symbols-outlined">
                            email
                        </span>
                        <span class="gsi-material-button-contents">Sign up with email </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .accountButton {
        width: 100%;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -webkit-appearance: none;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #1f1f1f;
        cursor: pointer;
        min-height: 40px;
        letter-spacing: 0.25px;
        outline: none;
        overflow: hidden;
        padding: 0 12px;
        position: relative;
        text-align: center;
        border: 1px solid #747775;
        vertical-align: middle;
        white-space: nowrap;
    }

    .userImageFrame {
        border-radius: 1000px;
        height: var(--imgL);
        width: var(--imgL);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .userImage {
        background-color: red;
        width: 100%;
        height: 100%;
    }

    .gsi-material-button {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -webkit-appearance: none;
        background-color: WHITE;
        background-image: none;
        border: 1px solid #747775;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #1f1f1f;
        cursor: pointer;
        font-family: 'Roboto', arial, sans-serif;
        font-size: 14px;
        height: 40px;
        letter-spacing: 0.25px;
        outline: none;
        overflow: hidden;
        padding: 0 12px;
        position: relative;
        text-align: center;
        -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
        transition: background-color .218s, border-color .218s, box-shadow .218s;
        vertical-align: middle;
        white-space: nowrap;
        /* width: auto; */
        /* width: 100%; */
        /* max-width: 400px; */
        min-width: min-content;
    }

    .gsi-material-button .gsi-material-button-icon {
        height: 20px;
        margin-right: 12px;
        min-width: 20px;
        width: 20px;
    }

    .gsi-material-button .gsi-material-button-content-wrapper {
        -webkit-align-items: center;
        align-items: center;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    .gsi-material-button .gsi-material-button-contents {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        font-family: 'Roboto', arial, sans-serif;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }

    .gsi-material-button .gsi-material-button-state {
        -webkit-transition: opacity .218s;
        transition: opacity .218s;
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .gsi-material-button:disabled {
        cursor: default;
        background-color: #ffffff61;
        border-color: #1f1f1f1f;
    }

    .gsi-material-button:disabled .gsi-material-button-contents {
        opacity: 38%;
    }

    .gsi-material-button:disabled .gsi-material-button-icon {
        opacity: 38%;
    }

    .gsi-material-button:not(:disabled):active .gsi-material-button-state,
    .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
        background-color: #303030;
        opacity: 12%;
    }

    .gsi-material-button:not(:disabled):hover {
        -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    }

    .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
        background-color: #303030;
        opacity: 8%;
    }
</style>