<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

<div class="itemCardPadding">
    <div class="flexBetween">
        <div class="itemCardPadding">
            <b>3Page-control</b>
        </div>
    </div>

    <div class=" itemCard">
        <div class="itemCardHeader itemCardPadding flexBetween">
            <div class="flex" *ngIf="userName | async as user">
                <img alt="userImage" class="itemCardIconFrame itemCardMargin" [src]="user.photoURL">
                <a class="itemCardPadding">{{user.displayName}}</a>
            </div>
            <div class="">
                <button (click)="newTask()" class="itemButton" [style]="'font-size:var(--title);'">
                    <span class="material-symbols-outlined" [style]="'font-size:var(--title);'">
                        add
                    </span>
                    <b>New</b>
                </button>
            </div>
        </div>

        <div class="itemCardBody itemCardGrid itemCardPadding">
            <!-- menu -->
            <div class="listBody" #{{address}}="cdkDropList" id="{{address}}" [cdkDropListData]="item$ | async"
                (cdkDropListDropped)="drop($event)" cdkDropList [style]="'max-height:70vh;overflow-y:auto;'">
                <app-item-card (newItemEvent)="addItem($event,i)" (click)="selectItemCard(x)" [address]="address"
                    *ngFor="let x of item$ | async ; let i = index;" [item]="x">
                </app-item-card>
            </div>
            <!-- display -->
            <div class="itemCard itemCardMargin">
                <div class="itemCardBody itemCardPadding">
                    <div class="x">
                        <!-- <b class="content">Description</b>
                        <a class="itemCardPadding keyValue">{{itemCardViewer?.id}}</a>
                        <b class="content">image</b>
                        <a class="itemCardPadding keyValue">{{itemCardViewer.image}}</a> -->
                        <div class="itemCardImgFrame">
                            <img *ngIf="itemCardViewer.imageArray.length>1" class="itemImageFrameImage"
                                [src]="itemCardViewer.imageArray[0]">
                            <div *ngIf="itemCardViewer.imageArray.length<1" class="flexAround center"
                                [style]="'height:var(--imgL)'">
                                <b>No Image uploaded</b>
                                <span class="material-symbols-outlined">
                                    image
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="itemCardHeader itemCardPadding">
                    <div class="x">
                        <!-- <b class="content">Description</b> -->
                        <b class="itemCardPadding keyValue">{{itemCardViewer.name}}</b>
                        <a class="itemCardPadding keyValue">Testing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>