.x{
    height:auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.display{
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    display:relative;
    overflow-y: hidden;
}
.listBody{
    display:flex;
    flex-direction: column;
    /* max-height:100vh; */
    max-height:100%;
    max-height:50vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.itemCardImgFrame{
    height: 100%;
}



@media only screen and (min-width: 700px) {
}

@media only screen and (min-width: 1500px) {
}