.x{
    /* max-height:20rem; */
    /* height:100%; */
    height:auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.display{
    /* min-height:50%; */
    /* min-height:20rem; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.listBody{
    display:flex;
    flex-direction: column;
    max-height:50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.itemCardImgFrame{
    height: 100%;
    /* background-color: red; */
}

@media only screen and (min-width: 700px) {
    .x{
        /* height:30rem; */
    }
}

@media only screen and (min-width: 1500px) {
    
    .x{
        /* height:40rem; */
    }
}